@model PM.Models.InterfacePoint

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>InterfacePoint</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nature)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nature)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Scope)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Scope)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ScopePackage1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ScopePackage1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ScopePackage2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ScopePackage2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.System1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.System1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.System2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.System2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExtraSystem)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExtraSystem)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Responsible)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Responsible)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Consultant)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Consultant)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Accountable)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Accountable)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Informed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Informed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Supported)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Supported)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IssueDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IssueDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CloseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CloseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Project)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Project.ProjectName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Edit</a> |
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
