@model PM.Models.InterfacePoint

@{
    ViewData["Title"] = "Details";
    int i = 0;
}

<h2 class="text-center mt-4">@ViewData["Title"]</h2>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow border-0">
                <div class="card-body p-4">
                    <form asp-action="Create" method="post" class="row needs-validation" novalidate>
                        <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>

                        <div class="form-group mb-3 col-md-6">
                            <label class="form-label">Project Name:</label>
                            <p class="form-control-static">@Model.Project.ProjectName</p>
                        </div>
                        <div class="form-group mb-3 col-md-6">
                            <label class="form-label">Description:</label>
                            <p class="form-control-static">@Model.Description</p>
                        </div>
                        <div class="form-group mb-3 col-md-6">
                            <label class="form-label">Nature:</label>
                            <p class="form-control-static">@Model.Nature</p>
                        </div>
                        <div class="form-group mb-3 col-md-6">
                            <label class="form-label">Scope:</label>
                            <p class="form-control-static">@Model.Scope</p>
                        </div>
                        <div class="form-group mb-3 col-md-6">
                            <label class="form-label">ScopePackage1:</label>
                            <p class="form-control-static">@Model.ScopePackage1</p>
                        </div>
                        <div class="form-group mb-3 col-md-6">
                            <label class="form-label">ScopePackage2:</label>
                            <p class="form-control-static">@Model.ScopePackage2</p>
                        </div>
                        <div class="form-group mb-3 col-md-6">
                            <label class="form-label">System1:</label>
                            <p class="form-control-static">@Model.System1</p>
                        </div>
                        <div class="form-group mb-3 col-md-6">
                            <label class="form-label">System2:</label>
                            <p class="form-control-static">@Model.System2</p>
                        </div>
                        <div class="form-group mb-3 col-md-6">
                            <label class="form-label">ExtraSystem:</label>
                            <p class="form-control-static">@Model.ExtraSystem</p>
                        </div>
                        
                        <div class="form-group mb-3 col-md-6">
                            <label class="form-label">Category:</label>
                            <p class="form-control-static">@Model.Category</p>
                        </div>

                        <div class="form-group mb-3 col-md-6">
                            <label class="form-label">Accountable:</label>
                            <p class="form-control-static">@Model.Accountable</p>
                        </div>
                        <div class="form-group mb-3 col-md-6">
                            <label class="form-label">Consultant:</label>
                            <p class="form-control-static">@Model.Consultant</p>
                        </div>
                        <div class="form-group mb-3 col-md-6">
                            <label class="form-label">Informed:</label>
                            <p class="form-control-static">@Model.Informed</p>
                        </div>
                        <div class="form-group mb-3 col-md-6">
                            <label class="form-label">Responsible:</label>
                            <p class="form-control-static">@Model.Responsible</p>
                        </div>
                        <div class="form-group mb-3 col-md-6">
                            <label class="form-label">Supported:</label>
                            <p class="form-control-static">@Model.Supported</p>
                        </div>
                        <div class="form-group mb-3 col-md-6">
                            <label class="form-label">CreatDate:</label>
                            <p class="form-control-static">@Model.CreatDate.ToString("G")</p>
                        </div>
                        <div class="form-group mb-3 col-md-6">
                            <label class="form-label">IssueDate:</label>
                            <p class="form-control-static">@Model.IssueDate?.ToString("G")</p>
                        </div>
                        <div class="form-group mb-3 col-md-6">
                            <label class="form-label">CloseDate:</label>
                            <p class="form-control-static">@Model.CloseDate?.ToString("G")</p>
                        </div>
                        <hr />

                        <div class="form-group mb-3">
                            <label class="control-label font-weight-bold">BOQs</label>
                            <select class="form-control">
                                @foreach (var boq in Model.BOQs)
                                {
                                    <option>@boq.Name</option>
                                }
                            </select>
                        </div>

                        <hr />

                        <div class="form-group mb-3">
                            <label class="control-label font-weight-bold">Activities</label>
                            <select class="form-control">
                                @foreach (var activity in Model.Activities)
                                {
                                    <option>@activity.Name</option>
                                }
                            </select>
                        </div>
                        <div class="form-group mb-3">
                            <label class="control-label font-weight-bold">Documentations:</label>
                            <br />
                            <br />
                            <br />
                            @foreach (var documentation in Model.Documentations ?? new List<Documentation>())
                            {
                                i ++;
                                <a href="@documentation.DocumentationLink">Link @i</a>
                                <span>@documentation.DocumentationDescription</span>
                                <br />
                            }
                        </div>
                        @if (User.IsInRole("Cordinator")&&Model.IssueDate == null)
                        {
                            <a asp-action="Issue" asp-route-id="@Model.Id" class="btn btn-secondary btn-sm">
                                Issue
                            </a>
                        }
                        <div class="form-group">
                            <a asp-action="Index" class="btn btn-secondary btn-lg ml-2">Back to List</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
